<div class="footer">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/comics">Comics</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="https://www.facebook.com/barelyamusing/">Facebook</a></li>
    <li><a href="https://twitter.com/barelyamusing">Twitter</a></li>
  </ul>
  <p>Barely Amusing by Henry Kuzmick is licensed under a Creative Commons Attribution-NonCommercial 3.0 Unported License.</p>
<img src="/images/license.jpg" alt="">
</div>
