<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <title><%= title %></title>
  </head>
  <body>
    <div class="maincontainer">
      <% include ./partials/header %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-push-2 text-left">
            <h1>About</h1>
            <p>
              This is the about page of Barely Amusing.<br>
              Is it the best about page in the world?<br>
              I guess not, but at least there is one.<br><br>
              Anyway, my name is Henry Kuzmick<br>
              and this is a webcomic about life and stuff.<br>
              There may be a blog or something soon too.<br>
              You may expect to find an update once in a while,<br>
              Though I do my best to make it weekly.<br>
            </p>
            <h1>Faq</h1>
            <p>
              <strong>So how's it goin' with that "weekly comic" thing you were talking about?</strong><br>
              Hey, I got other stuff to do too.
            </p><p>
              <strong>Like what?</strong><br>
              Well I have to go to work and stuff.
            </p><p>
              <strong>Aren't you a famous comic artist? Why the day job?</strong><br>
              Nah, I'm actually very not famous.
            </p><p>
              <strong>Well then why make comics if noone is reading them?</strong><br>
              I don't know man, I guess I'm just trying to distract myself from my own mortality and the banal grind that is everyday life.
            </p><p>
              <strong>Do you have other reasons to do stuff apart from money or escapism?</strong><br>
              Jeez, well, what about you Karl? do you have a better reason to do stuff?
            </p><p>
              <strong>I mean, I guess not...</strong><br>
              Yeah, thought so. Will you get out of my kitchen now?
            </p><p>
              <strong>But I want a snack.</strong><br>
              You can have a banana
            </p><p>
              <strong>Ok, Bye.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <% include ./partials/scripts %>
  </body>
</html>
