<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <title><%= title %></title>
  </head>
  <body>
    <div className="container-fluid">
      <div className="row">
        <div className="col-xs-12 col-md-8">
          <h1>Latest</h1>

          <br />
          <h1>Random</h1>


        </div>
        <div className="col-xs-12 col-md-4 lp0">
          <h1>Social</h1>
          <div className="fb-page" data-href="https://www.facebook.com/barelyamusing/" data-small-header="false" data-width="312" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/barelyamusing/" className="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/barelyamusing/">Barely Amusing</a></blockquote></div>
          <br /><br />
          <a href="https://twitter.com/BarelyAmusing" data-size="large" className="twitter-follow-button" data-show-count="false">Follow @BarelyAmusing</a><script async src="//platform.twitter.com/widgets.js" charSet="utf-8"></script>
          <h1>Favorites</h1>
        </div>
      </div>
    </div>
    <% include ./partials/scripts %>
  </body>
</html>
